<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />


<app-header></app-header>

<div class:container>


<div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">{{titulo}}</div>
                        
                        <div class="stats">
                                <strong>Comienza</strong> {{fecha}}}
                        </div>

                        <div class="stats">

                            <div>
                                <strong>Sala</strong> {{sala}}
                            </div>

                            <div>
                                <strong>Butacas</strong> {{butacas}}
                            </div>

                        </div>    
                    </div>
                </div> 
            </div>

        </div>
</div>

<input type = "button" value = "Volver" onclick = "history.back ()">


<app-footer></app-footer>