<app-header></app-header>

<div class:container>

    <h5>Lista de salas</h5>
    <br><br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Sala</th>
            <th scope="col">Tipo</th>
            
        </tr>
        </thead>
        <tr>
            <td>1</td>
            <td>Sala 1 Complejo 1</td>
            <td>Normal</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Sala 2 Complejo 1</td>
            <td>Premium</td>
        </tr>       


    </table>

</div>






